## Ejercicio 7

El archivo **automobile_simple.csv** contiene 11 atributos de automóviles de un total de 205 registros. Es una versión modificada y simplificada del dataset disponible en el repositorio UCI https://archive.ics.uci.edu/ml/datasets/Automobile. La siguiente tabla contiene una breve descripción de los
atributos que contiene el archivo y caracterizan a cada vehículo.

<table style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr style="background-color: #4da6d8; color: white; text-align: left;">
      <th style="padding: 8px;">Atributo</th>
      <th style="padding: 8px;">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 8px;"><b>make</b></td>
      <td style="padding: 8px;">Marca: alfa-romero, audi, bmw, chevrolet…</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>fuel-type</b></td>
      <td style="padding: 8px;">Tipo de combustible: diesel, gasolina.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>num-of-doors</b></td>
      <td style="padding: 8px;">Número de puertas: cuatro, dos.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>body-style</b></td>
      <td style="padding: 8px;">Tipo de carrocería: techo duro, wagon, sedán, hatchback, descapotable.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>curb-weight</b></td>
      <td style="padding: 8px;">Peso en vacío: numérico de 1488 a 4066.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>engine-size</b></td>
      <td style="padding: 8px;">Tamaño del motor: numérico de 61 a 326.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>horsepower</b></td>
      <td style="padding: 8px;">Potencia: numérico de 48 a 288.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>city-mpg</b></td>
      <td style="padding: 8px;">Rendimiento en ciudad (en millas por galón): numérico de 13 a 49.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>highway-mpg</b></td>
      <td style="padding: 8px;">Rendimiento en ruta (en millas por galón): numérico de 16 a 54.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>price</b></td>
      <td style="padding: 8px;">Precio en USD: numérico de 5118 a 45400.</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>volume</b></td>
      <td style="padding: 8px;">Volumen del vehículo (alto x ancho x alto).</td>
    </tr>
    <tr>
      <td style="padding: 8px;"><b>eco-rating</b></td>
      <td style="padding: 8px;">Evaluación de la sostenibilidad ambiental del vehículo basado en su volumen, peso, consumo de combustible y tipo de combustible utilizado.</td>
    </tr>
  </tbody>
</table>



### a) 

Para cada atributo indique si es Discreto, Continuo, Nominal u Ordinal.

- **make:** nominal.
- **fuel-type:** nominal.
- **num-of-doors:** ordinal.
- **body-style:** nominal.
- **curb-weight:** discreto.
- **engine-size:** discreto.
- **horsepower:** continuo.
- **city-mpg:** discreto.
- **highway-mpg:** discreto.
- **price:** continuo.
- **volume:** continuo.
- **eco-rating:** continuo.

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from Fuentes.ClassPerceptron import Perceptron

DATOS_DIR   = '../../Datos/'
data = pd.read_csv(DATOS_DIR + 'automobile-simple.csv')
data.dtypes

make             object
fuel-type        object
num-of-doors     object
body-style       object
curb-weight       int64
engine-size       int64
horsepower      float64
city-mpg          int64
highway-mpg       int64
price           float64
volume          float64
eco-rating      float64
dtype: object


### b) 

Elimine los registros que presenten valores faltantes.

In [65]:
data = data.dropna()

### c) 
Calcule la matriz de correlación usando los atributos numéricos.

In [66]:
ppn = Perceptron(alpha=0.5, n_iter=100, random_state=1)

numeric_cols = ["curb-weight", "engine-size", "horsepower", 
                "city-mpg", "highway-mpg", "price", 
                "volume", "eco-rating"]

df_num = data[numeric_cols]
corr_matrix = df_num.corr()

display(corr_matrix)

,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating
curb-weight,1.000000,0.848932,0.759925,-0.755559,-0.800113,0.834732,0.822823,-0.842957
engine-size,0.848932,1.000000,0.825286,-0.655737,-0.684662,0.873708,0.592571,-0.723965
horsepower,0.759925,0.825286,1.000000,-0.821960,-0.803658,0.811953,0.449278,-0.839619
city-mpg,-0.755559,-0.655737,-0.821960,1.000000,0.972407,-0.692948,-0.554978,0.976650
highway-mpg,-0.800113,-0.684662,-0.803658,0.972407,1.000000,-0.708659,-0.608072,0.984258
price,0.834732,0.873708,0.811953,-0.692948,-0.708659,1.000000,0.631578,-0.747982
volume,0.822823,0.592571,0.449278,-0.554978,-0.608072,0.631578,1.000000,-0.598520
eco-rating,-0.842957,-0.723965,-0.839619,0.976650,0.984258,-0.747982,-0.598520,1.000000


### d) 

Realice el entrenamiento de un perceptrón para que aprenda a clasificar si un auto es ecológico. Tenga
en cuenta los siguientes pasos:

#### I.

Utilice el atributo eco-rating para generar un nuevo atributo binario que determine si un auto es ecológico o no. Un auto es considerado ecológico si el valor de eco-rating supera la media de dicho atributo.

In [67]:
from sklearn.preprocessing import LabelEncoder

T = (data["eco-rating"] > data["eco-rating"].mean()).astype(int)
X = data.drop(columns=["make", "eco-rating"]) # Elimino la columna target y make

for col in X.select_dtypes(include=['object']).columns:
	le = LabelEncoder()
	X[col] = le.fit_transform(X[col])

display(X)

,fuel-type,num-of-doors,body-style,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume
0,1,1,0,2548,130,111.0,21,27,13495.0,528019.904
1,1,1,0,2548,130,111.0,21,27,16500.0,528019.904
2,1,1,2,2823,152,154.0,19,26,16500.0,587592.640
3,1,0,3,2337,109,102.0,24,30,13950.0,634816.956
4,1,0,3,2824,136,115.0,18,22,17450.0,636734.832
...,...,...,...,...,...,...,...,...,...,...
200,1,0,3,2952,141,114.0,23,28,16845.0,721961.760
201,1,0,3,3049,141,160.0,19,25,19045.0,720913.920
202,1,0,3,3012,173,134.0,18,23,21485.0,721961.760
203,0,0,3,3217,145,106.0,26,27,22470.0,721961.760
204,1,0,3,3062,141,114.0,19,25,22625.0,721961.760

#### II. 

Genere y compare 3 modelos utilizando diferentes normalizaciones (Sin normalizar, normalización lineal, normalización estándar).

In [68]:
def evaluar_perceptron(X, T, alpha=0.01, max_iter=10, random_state=1):
    resultados = {}

    # Caso 1: Sin normalización
    ppn = Perceptron(alpha=alpha, n_iter=max_iter, random_state=random_state)
    ppn.fit(X.values, T.values)
    Y = ppn.predict(X.values)
    resultados["sin_normalizacion"] = sum(Y == T)

    # Caso 2: Normalización lineal (0 a 1)
    X_lin = (X - X.min()) / (X.max() - X.min())
    ppn = Perceptron(alpha=alpha, n_iter=max_iter, random_state=random_state)
    ppn.fit(X_lin.values, T.values)
    Y = ppn.predict(X_lin.values)
    resultados["normalizacion_lineal"] = sum(Y == T)

    # Caso 3: Normalización estándar (z-score)
    X_std = (X - X.mean()) / X.std()
    ppn = Perceptron(alpha=alpha, n_iter=max_iter, random_state=random_state)
    ppn.fit(X_std.values, T.values)
    Y = ppn.predict(X_std.values)
    resultados["normalizacion_estandar"] = sum(Y == T)

    # Mostrar resultados
    for caso, aciertos in resultados.items():
        print(f"Aciertos {caso.replace('_', ' ')}: {100.0*aciertos/len(T):.2f}% ({aciertos}/{len(T)})")

    return resultados

resultados = evaluar_perceptron(X, T)

Aciertos sin normalizacion: 52.79% (104/197)
Aciertos normalizacion lineal: 96.45% (190/197)
Aciertos normalizacion estandar: 97.46% (192/197)

#### III. 

Teniendo en cuenta la matriz de correlación del punto c) repita el punto II) eliminando dos atributos fuertemente correlacionados (uno negativo y otro positivo). Compare y reflexione sobre los resultados obtenidos.

In [69]:
corr_pairs = corr_matrix.unstack()
corr_pairs = corr_pairs.drop(labels=[(col, col) for col in corr_matrix.columns])
corr_sorted = corr_pairs.sort_values(ascending=False)
corr_sorted = corr_pairs.loc[corr_sorted.index]

display(corr_sorted.head(1), corr_sorted.tail(1)) 
# Tengo que eliminar  eco-rating  highway-mpg  0.984258
# y 				  eco-rating  curb-weight -0.842957


X = X.drop(columns=["highway-mpg", "curb-weight"])
resultados_sin_corr = evaluar_perceptron(X, T)

eco-rating  highway-mpg    0.984258
dtype: float64

eco-rating  curb-weight   -0.842957
dtype: float64

Aciertos sin normalizacion: 52.79% (104/197)
Aciertos normalizacion lineal: 92.89% (183/197)
Aciertos normalizacion estandar: 96.45% (190/197)

> **Conclusión:** El empeoramiento se debe a que sacamos features que, aunque redundantes, ayudaban al perceptrón a separar las clases. La correlación alta no siempre significa que conviene eliminarlas; depende del modelo:
> - Para modelos lineales (regresión múltiple, SVM lineal), suele ser recomendable.
> - Para perceptrón o redes pequeñas, a veces ayuda dejar esas features.